################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PracticeC#
/.vs/bin
/.vs/obj
/.vs/Properties